/*border*/
.dotted{
    border-style: dotted;
}
.dashed{
    border-style: dashed;
}
.solid{
    border-style: solid;
}
.double{
    border-style: double;
}
.groove{
    border-style: groove;
}
.ridge{
    border-style: ridge;
}
.inset{
    border-style: inset;
}
.outset{
    border-style: outset;
}
.none{
    border-style: none;
}
.hidde{
    border-style: hidden;
}
.max{
    border-style: dotted dashed solid double;
}
/*box*/
.box{
    width: 100px:
    border: 15px solid orange;
    padding: 50px;
    margin: 20px;

}
div {
    height: 200px;
    width: 50%;
    background-color: aquamarine;
}